@font-face {
    font-family: "HarmonyOS Sans SC Bold";
    src: url("HarmonyOS_SansSC_Bold.eot"); /* IE9 */
    src: url("HarmonyOS_SansSC_Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("HarmonyOS_SansSC_Bold.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("HarmonyOS_SansSC_Bold.woff") format("woff"), /* chrome, firefox */
    url("HarmonyOS_SansSC_Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("HarmonyOS_SansSC_Bold.svg#HarmonyOS Sans SC Bold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


